{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h1>{% trans "LBTCEX" %}</h1>

{% if user.profile.access_token %}
{% url "api_call" as call_url %}
<p>{% blocktrans %}You have an access token. <a href="{{ call_url }}">Do an API call!</a>{% endblocktrans %}</p>
{% else %}
{% url "start_authorize" as authorize_url %}
<p>{% blocktrans %}You do not have an access token yet. <a href="{{ authorize_url }}">Authorize on LocalBitcoins now</a>.{% endblocktrans %}</p>
{% endif %}

<a href="{% url "auth_logout" %}">Log out</a>
{% endblock %}
